:root {
    --main-color: #F9A826;
    --main-color-shadow: #FF781E;
    --second-color: #403C54;
    --blue-color: #0C8AFA;
    --red-color: #FF4949;
    --green-color: #6AFA3E;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

