@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Itim&family=Signika+Negative:wght@500&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Fredoka One', cursive;
    font-family: 'Itim', cursive;
    font-family: 'Signika Negative', sans-serif;
}